html,
body {
  /* The html and body elements cannot have any padding or margin. */
  background-color: rgba(63, 127, 191, 0.1);
}

/*.page-header {
}*/

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

/* Styling for userBauble user info element */

.profileCard {
  color: white;
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 15px;
  padding: 10px 35px;
  text-decoration: bold;
}

#profileCardName {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.profileCardStats {
  display: inline-block;
  text-align: left;
  margin: 10px 15px 0px 0px;
}

.profileCardStatName {
  font-size: 8px;
  margin-bottom: 0;
}

.profileCardStat {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

/* Styling for tweetforms */

.tweetForm {
  text-align: center;
  color: white;
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 35px;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

#name_field, #text_field {
  -webkit-input-placeholder: white;
  background-color: rgba(265,265,265, .7);
  border: hidden;
  border-radius: 2px;
  padding: 10px 15px;
  margin-right: 20px;
}

#tweetButton {
  font-weight: bold;
  color: white;
  background-color: darkblue;
  border: hidden;
  border-radius: 2px;
  padding: 10px 15px;
  margin-left: 10px;
  float: right;
}

/* Styling for tweetDisplay div */

#tweetDisplay {
  border: hidden;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 35px;
  margin: 0px auto 35px auto;
}

/* Styling for tweetboxes */

.tweetbox {
  padding: 7px 0px;
}

.nameLink {
  font-size: 16px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.tweetbox img {
  float: left;
  height: 48px;
  width: 48px;
  content:url("http://placegoat.com/50");
  margin-right: 10px;
}


.content {
  margin-left: 60px;
}

.content .by {
  font-weight: bold;
}
